.home__search{
  margin: 0 5px;
}
.home__datepicker{
  margin: 0 5px;
}
.home__search .ant-input {
  border: 1px solid #b7b7b8;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}
.home{
  width: 100%;
}
.home__search
.ant-input:focus{
  background: #fff;
      border: 1px solid #6EACFD !important;
      box-shadow: 0 0 0 1px #6EACFD;
      outline: none;
}
.home__filters {
  padding: 2em;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__filters p {
  font-size: 1.2em;
  margin-left: 1em;
  margin-bottom: 0;
}
.home__filters .ant-btn-primary {
  font-size: 1rem;
  font-weight: 500;
}

.home__pagination {
  padding-bottom: 4em;
  display: flex;
}